* {
  margin: 0;
}
.head {
  display: flex;
  // background-color: #2623239c;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  // padding: 10px;
  color: rgba(255, 255, 255, 0.935);
  font-weight: 500;
  font-size: large;
  letter-spacing: 1px;
}
.listCript {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 0, 0.459);
  border-color: rgb(255, 255, 255);
  // border-style: dotted;
}
.topCrypto {
  display: flex;
  flex-direction: row;
  // background-color: #f2f2f261;
  width: 40%;
}
.topCrypto p {
  margin: 10px 1%;
}
.btnOpenBag {
  background-color: #3a3d0541;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(255, 214, 0, 0.77);
  -moz-box-shadow: 0px 0px 10px 2px rgba(255, 214, 0, 0.77);
  box-shadow: 0px 0px 10px 2px rgba(255, 214, 0, 0.77);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 2%;
}
@media screen and (max-width: 790px) {
  .btnOpenBag {
    font-size: 12px;
    padding: 5px 10px;
    height: 60%;
  }
  .topCrypto {
    display: block;
    flex-direction: column;
    // background-color: #f2f2f261;
    width: 30%;
   
  }
  .head{
     font-size: 16px;
  }
}
