body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(33, 27, 27, 1) 80%,
    rgb(62, 29, 29) 100%
  );
  background-repeat: no-repeat;
  height: 100vh;
}
