.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px;
  
    h2 {
      margin-top: 0;
    }
  
    form {
      display: flex;
      flex-direction: column;
  
      input[type="number"] {
        margin-bottom: 10px;
        padding: 5px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        background-color: #f1f1f1;
        outline: none;
      }
  
      .buttons {
        display: flex;
        justify-content: space-between;
  
        button {
          padding: 10px;
          font-size: 16px;
          border-radius: 5px;
          border: none;
          cursor: pointer;
          outline: none;
  
          &:hover {
            opacity: 0.8;
          }
  
          &:first-child {
            background-color: rgba(104, 126, 104, 0.754);
            color: white;
          }
  
          &:last-child {
            background-color: rgba(176, 147, 147, 0.749);
            color: white;
          }
        }
      }
    }
  }
  